<footer class="p-3">
    <div class="container">
        <ul class="d-flex align-items-center justify-content-between w-100">
            <li><a href="https://www.instagram.com/kielkeyvich/"><i class="fa-brands fa-instagram"></i> Instagram</a>
            </li>
            <li><a href="https://www.linkedin.com/in/ezequielmakarevich/"><i class="fa-brands fa-linkedin"></i>
                    LinkedIn</a></li>
            <li><a href="https://twitter.com/Keyvich1"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
        </ul>
        <p>Desarrollado por Ezequiel Makarevich</p>
    </div>
</footer>