img {
    max-width: 180px;
}
.shopping_cart {
    @media (min-width: 992px) {
        display: block;
    }
    display: none;
    cursor: pointer;
}
.sticked {
    width: 100%;
    position: fixed;
    z-index: 9999;
}
