<div class="mt-5">
    <button mat-raised-button class="d-flex align-items-center justify-content-center" (click)="resetSearch()"
        *ngIf="this.subcategory !== null">{{categoriesList[subcategory!]}} <mat-icon>cancel</mat-icon></button>
</div>
<div class="container my-3">
    <div class="row" style="gap: 10px;">
        <mat-card class="d-flex gap-2 align-items-center"
            style="padding: 0; max-width: 800px; background-color: #fff;" *ngFor="let product of filteredList">
            <div>
                <img mat-card-image style="width: 150px; height: 150px; margin: 0; border-radius: 4px;" class="p-4"
                    src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_{{product.imagenes[0].nombre}}-med.jpg">
            </div>
            <div class="d-flex flex-column w-100 p-3">
                <mat-card-title style="color: #212529;">{{product.nombre}}</mat-card-title>



                <p style="font-size: 20px; color: #212529;">
                    {{product.precio | currency:'ARS'}}
                </p>

                <mat-chip-list>
                    <mat-chip style="font-size: 12px;">
                        {{categoriesList[product.id_subcategoria]}}
                    </mat-chip>
                </mat-chip-list>
                <div>
                    <button mat-raised-button color="warn" class="mt-2" (click)="addToCart()">Agregar al
                    carrito</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>